/* You can add global styles to this file, and also import other style files */
$font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

body {
  margin: 0;
  font-family: $font-family;
  background-color: #f9fafc;
}
